

/* IDS Navbar Styling */

li.logo,
.logo
 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

nav {
  color: white;
  position: fixed;
  width: 100%;
  z-index: 200;
  /* For Safari 3.1 to 6.0 */
  -webkit-transition: 1s;
  transition: 1s;
}

nav li {
  list-style-type: none;
  white-space: nowrap;
}

nav li a {
  margin: 0 0.5em;
}

nav ul {
  margin: 0;
  padding: 15px;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  -webkit-align-items: center;
  align-items: center;
}

li.logo {
  margin-right: auto;
  /* put the logo on the left */
  display: flex;
  align-items: center;
  font-size: 16px;
}

li.logo svg {
  width: 70px;
  padding-right: 5px;
}

li.logo span {
  display: none;
  -webkit-transition: 1s;
  /* For Safari 3.1 to 6.0 */
  transition: 1s;
}

li.item {
  font-size: 18px;
  text-align: right;
}

li.item a {
  margin-top: 0.8em;
}

li.toggle {
  /* show menu bar (toggle class) */
  display: block;
  cursor: pointer;

  margin-left: auto;
  margin-right: 10px;
  color: white;
  font-size: 16px;
}

nav a {
  /* so the ENTIRE item is clickable */
  display: block;

  /* design choices */
  text-decoration: none;
  color: white;
  opacity: 0.9;
}

/* hide all list items **that aren't logo or toggle** */
nav ul li:not(.logo):not(.toggle) {
  display: none;
}

nav ul div {
  display: none;
}

/* navbar social icons */
nav li a:link,
nav li a:visited {
  color: white;
  text-decoration: none;
  border-bottom: none;
}

nav li a:hover,
nav li a:active {
  color: white;
  text-decoration: none;
  border-bottom: none;
}

.logo {
    font-size: 24px;
    display: flex;
    cursor: pointer;
}

.logo a {
    display: flex;
    border-bottom: none;
}