<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/normalize.css" />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="stylesheet" href="./assets/css/example.css" />

    <link rel="stylesheet" href="./assets/css/notepad.css" />

    <title>Notepad Template</title>
  </head>

  <body>
    <a
      class="view-code"
      href="https://github.com/jacobday/ids-resources/tree/main/templates/notepad"
      target="_blank"
      >View code on GitHub</a
    >

    <h1>Notepad Template</h1>

    <section>
      <!-- ! Notepad Start -->
      <div class="notepad">
        <div class="top">
          <p>Written by <span>Whitten</span></p>
        </div>
        <div class="paper">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
          esse eos laborum omnis ratione. Corrupti alias quaerat doloremque
          corporis aut natus magnam culpa eos minus dicta, officiis ea ipsum ex
          soluta labore perferendis est quam cum praesentium exercitationem
          iusto impedit! Tempora, asperiores! Ipsa adipisci necessitatibus vel
          aliquam sunt, eius amet?
        </div>
        <div class="footer">Excerpt from Whitten's statement</div>
      </div>
      <!-- ! Notepad End -->
    </section>
  </body>
</html>
