<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/normalize.css" />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="stylesheet" href="./assets/css/example.css" />

    <link rel="stylesheet" href="./assets/css/gallery.css" />

    <title>Horizontal Scrolling Gallery Template</title>
  </head>

  <body>
    <a
      class="view-code"
      href="https://github.com/jacobday/ids-resources/tree/main/templates/horizontal-gallery"
      target="_blank"
      >View code on GitHub</a
    >

    <h1>Horizontal Scrolling Gallery</h1>

    <!-- ! Gallery start -->
    <div class="gallery-container gallery-sticky">
      <div class="gallery" id="gallery">
        <div class="sticky-inner">
          <div class="image-featured">
            <figure>
              <img
                src="https://s3.amazonaws.com/snwceomedia/ids/34b24868-b3d7-4fc7-93ba-7918c4d80fe2.sized-1000x1000.jpg"
                alt="Maya Goldenberg is a Jewish student at IU. She is a junior
                              in the Kelley School of Business."
              />
              <figcaption>
                <span class="credit"
                  >Anya Heminger
                  <svg viewBox="0 0 163.17 68.85">
                    <path d="M0,67.77V1.08H19.89V67.77Z" />
                    <path
                      d="M32.85,67.77V1.08H58.32c19.44,0,38.34,6.21,38.34,33.3,0,26.64-20.07,33.39-39.6,33.39ZM52.74,50.4h5.85c12.06,0,17.91-4.41,17.91-16s-5.67-15.3-18.81-15.3H52.74Z"
                    />
                    <path
                      d="M98.82,59l9.54-13.59c6.66,4.59,15.93,7,23.31,7,9.45,0,11.7-2.16,11.7-4.86s-2.7-3.78-12.51-4.59c-14.31-1.17-28.26-4.86-28.26-21.15C102.6,5.67,115.83,0,131,0c15.84,0,24.48,4.05,29.16,7.83l-9.9,14.31c-3.78-2.52-12.33-4.77-19-4.77s-8.73,1.08-8.73,3.69c0,3.24,2.79,4.05,12.69,4.86,14.94,1.26,28,4.14,28,20.7,0,13.5-11.52,22.23-30.87,22.23C114.66,68.85,105.84,64.53,98.82,59Z"
                    /></svg
                ></span>
                Maya Goldenberg is a Jewish student at IU. She is a junior in
                the Kelley School of Business.
              </figcaption>
            </figure>
          </div>
        </div>

        <div class="sticky-inner">
          <div class="image-featured">
            <figure>
              <img
                src="https://s3.amazonaws.com/snwceomedia/ids/ccef6613-7430-4474-a1b1-996e1c79cf44.sized-1000x1000.jpg"
                alt="Maya Goldenberg brings out freshly baked bread to the Sukkot
                    for Shabbat at the Chabad house. Sukkot is a festival of
                    remembrance of when enslaved Jewish people left Egypt and
                    began their 41-year-long journey through the desert."
                style="object-position: 90%"
              />
              <figcaption>
                <span class="credit"
                  >Anya Heminger
                  <svg viewBox="0 0 163.17 68.85">
                    <path d="M0,67.77V1.08H19.89V67.77Z" />
                    <path
                      d="M32.85,67.77V1.08H58.32c19.44,0,38.34,6.21,38.34,33.3,0,26.64-20.07,33.39-39.6,33.39ZM52.74,50.4h5.85c12.06,0,17.91-4.41,17.91-16s-5.67-15.3-18.81-15.3H52.74Z"
                    />
                    <path
                      d="M98.82,59l9.54-13.59c6.66,4.59,15.93,7,23.31,7,9.45,0,11.7-2.16,11.7-4.86s-2.7-3.78-12.51-4.59c-14.31-1.17-28.26-4.86-28.26-21.15C102.6,5.67,115.83,0,131,0c15.84,0,24.48,4.05,29.16,7.83l-9.9,14.31c-3.78-2.52-12.33-4.77-19-4.77s-8.73,1.08-8.73,3.69c0,3.24,2.79,4.05,12.69,4.86,14.94,1.26,28,4.14,28,20.7,0,13.5-11.52,22.23-30.87,22.23C114.66,68.85,105.84,64.53,98.82,59Z"
                    /></svg
                ></span>
                Maya Goldenberg brings out freshly baked bread to the Sukkot for
                Shabbat at the Chabad house. Sukkot is a festival of remembrance
                of when enslaved Jewish people left Egypt and began their
                41-year-long journey through the desert.
              </figcaption>
            </figure>
          </div>
        </div>

        <div class="sticky-inner">
          <div class="image-featured">
            <figure class="glass-card">
              <img
                src="https://s3.amazonaws.com/snwceomedia/ids/8a82f2ed-866a-4da0-9201-25620889f0e9.sized-1000x1000.jpg"
                alt="Maya Goldenberg lights candles prior to Shabbat, the seventh
                    day of rest, at the beginning of Sukkot. The lighting of
                    candles signifies the beginning of Shabbat and the sun
                    having set. This is a time in which people cease the use of
                    technology for the next 25 hours in order to reconnect with
                    the world, their friends, family and God."
                style="object-position: 30%"
              />
              <figcaption>
                <span class="credit"
                  >Anya Heminger
                  <svg viewBox="0 0 163.17 68.85">
                    <path d="M0,67.77V1.08H19.89V67.77Z" />
                    <path
                      d="M32.85,67.77V1.08H58.32c19.44,0,38.34,6.21,38.34,33.3,0,26.64-20.07,33.39-39.6,33.39ZM52.74,50.4h5.85c12.06,0,17.91-4.41,17.91-16s-5.67-15.3-18.81-15.3H52.74Z"
                    />
                    <path
                      d="M98.82,59l9.54-13.59c6.66,4.59,15.93,7,23.31,7,9.45,0,11.7-2.16,11.7-4.86s-2.7-3.78-12.51-4.59c-14.31-1.17-28.26-4.86-28.26-21.15C102.6,5.67,115.83,0,131,0c15.84,0,24.48,4.05,29.16,7.83l-9.9,14.31c-3.78-2.52-12.33-4.77-19-4.77s-8.73,1.08-8.73,3.69c0,3.24,2.79,4.05,12.69,4.86,14.94,1.26,28,4.14,28,20.7,0,13.5-11.52,22.23-30.87,22.23C114.66,68.85,105.84,64.53,98.82,59Z"
                    /></svg
                ></span>
                Maya Goldenberg lights candles prior to Shabbat, the seventh day
                of rest, at the beginning of Sukkot. The lighting of candles
                signifies the beginning of Shabbat and the sun having set. This
                is a time in which people cease the use of technology for the
                next 25 hours in order to reconnect with the world, their
                friends, family and God.
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
    <!-- ! Gallery end -->

    <!-- ! Link to gallery.js -->
    <script src="./assets/js/gallery.js"></script>
  </body>
</html>
